<div class="w-3/5 mx-auto py-8">
    <h2 class="text-3xl text-blue-800 font-nunito_bold mb-8">Van Camping</h2>

    <div class="mb-4">
    <a href="{{ link to="topics" }}" class="text-blue-500">
    Tags
    </a>
    </div>

    <ul class="text-gray-600">
        {{ collection from="van_camping" }}
        <li class="grid grid-cols-12 mb-2">
            <div class="col-span-1">
                <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
                    {{ svg src="o-external-link" class="h-5 w-5 text-blue-500"
                    }}
                </a>
            </div>
            <div class="col-span-1">
                <a href="{{ url }}">
                    {{ svg src="o-link" class="h-5 w-5 text-blue-500" }}
                </a>
            </div>
            <div class="col-span-7">
                <a href="{{ link }}" target="_blank" rel="noopener noreferrer">{{ title }}</a>
            </div>
            <div class="col-span-3 flex">
                {{ topics }}
                <a href="{{ url }}" class="text-blue-500 mr-4">{{ title }}</a>
                {{ /topics }}
            </div>
        </li>
        {{ /collection }}
    </ul>
</div>
