<div class="w-1/2 mx-auto py-8">
    <h2 class="text-3xl text-blue-800 font-nunito_bold mb-8">{{ title }}</h2>

    <div class="bg-gray-50 pt-4 px-8 mb-4 rounded">
        <div class="flex mb-4">
            <div class="mr-4">
                {{ svg src="o-external-link" class="h-5 w-5 text-black" }}
            </div>
            <a
                href="{{ link }}"
                class="text-blue-500 hover:text-blue-800"
                target="_blank"
                rel="noopener noreferrer"
            >
                {{ link }}
            </a>
        </div>

        {{ if topics }}
        <div class="flex mb-4">
            <div class="mr-4">
                {{ svg src="s-tag" class="h-5 w-5 text-black" }}
            </div>
            {{ topics }}
            <a href="{{ url}}" class="text-blue-500 mr-4">{{ title }}</a>
            {{ /topics }}
        </div>
        {{ /if }}

        <div class="flex">
            {{ if notes }}
            <div class="mr-4">
                {{ svg src="s-pencil-alt" class="h-5 w-5 text-black" }}
            </div>
            <div class="markdown text-black">
                {{ notes }}
            </div>
            {{ /if }}
        </div>
    </div>

    <div class="markdown">
        {{ content }}
    </div>
</div>
