<div class="w-1/2 mx-auto py-8">
    <h2 class="text-3xl text-blue-800 font-nunito_bold mb-8">
        Topics
    </h2>

    {{ taxonomy from="topics" }}

    <h3 class="text-2xl font-nunito_semibold mb-4">{{ title }}</h3>

    <ul class="mb-4 text-gray-600">
        {{ if entries }} {{ entries }}
        <li class="grid grid-cols-12 mb-2">
            <div class="col-span-1">
                <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
                    {{ svg src="o-external-link" class="h-5 w-5 text-blue-500"
                    }}
                </a>
            </div>
            <div class="col-span-1">
                <a href="{{ url }}">
                    {{ svg src="o-link" class="h-5 w-5 text-blue-500" }}
                </a>
            </div>
            <div class="col-span-10">
                <a href="{{ link }}" target="_blank" rel="noopener noreferrer"
                    >{{ title }}</a
                >
            </div>
        </li>
        {{ /entries }} {{ /if }}
    </ul>

    {{ /taxonomy }}
</div>
