<div class="w-1/2 mx-auto py-8">
    <h2 class="text-3xl text-blue-800 font-nunito_bold mb-8">
        {{ tag | deslugify | title }}
    </h2>

    {{ taxonomy:topics title:is="{tag}" }}

    <ul class="mb-4 text-gray-600">
        {{ if entries }} {{ entries }}

        <li class="grid grid-cols-12 mb-2">
            <div class="col-span-1">
                <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
                    {{ svg src="o-external-link" class="h-5 w-5 text-blue-500"
                    }}
                </a>
            </div>
            <div class="col-span-1">
                <a href="{{ url }}">
                    {{ svg src="o-link" class="h-5 w-5 text-blue-500" }}
                </a>
            </div>
            <div class="col-span-10">
                <a href="{{ link }}" target="_blank" rel="noopener noreferrer"
                    >{{ title }}</a
                >
            </div>
        </li>
        {{ /entries }} {{ else }}
        <p>There are no entries for this tag.</p>
        {{ /if }}
    </ul>

    {{ /taxonomy:topics }}
</div>
